<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/hearde', {pagina: "sobre"}); %>
    
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>oi, meu nome é Felipe! estou estudando profundamente desenvolvimento web. <br>
            tenho 18 anos e pretendo me tornar um grande desenvolvedor web full-stack</p>    
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>