<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Construindo com EJS</title>
    <style>
        body {
            margin: 10px;
        }

        main {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: lightgrey;
            padding: 20px 0px;
            text-align: center;
        }

        a {
            margin-left: 15px;
        }

        ul{
            display: flex;
            list-style: none;
            margin-right: 40px;
            justify-content: center;
        }
        ul a{
            text-decoration: none;
            color: rgb(221, 11, 169);
            transition: .3s;
        }
        ul a:hover{
            background-color: rgb(53, 218, 218);
            color: white;
            font-size: 15px;
            border-radius: 10px;
            padding: 7px;
        }
        .titulo{
            flex-direction: column;
        }
    </style>
</head>