<header>
    <nav class="navbar navbar-expens-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EJS</a>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">About</a></li>
        </ul>
    </nav>

    <p>Página: <%- pagina %></p>
</header>